/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body, p, h1, h2, h3, ul, li, div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p span {
    color: #F3EAE2;
}

header p {
    color: #ECB12F;
}

.border-none {
    border:none;
}

.border-radius {
    border-radius: 5px;
}

.border-color-white {
    border: 1px solid white;
}

.border-color-grey {
    border: 1px solid;
}

.background-purple {
    background-color: #540B51;
}

.background-purple-mobile {
    background-color: #540B51;
}

.background-blue {
    background-color: #4285F4;
}

.background-white {
    background-color: white;
}

.background-ivory {
    background-color: #F3EAE2;
}

.background-image {
    background-image: url(/starter_code/images/background-singup.png);
    background-repeat: no-repeat;
    background-size: 325%;
    background-position: left top;
}

.font-white {
    color: white;
}

.font-black {
    color: #000000;
}

.font-purple {
    color: #540B51;
}

.font-blue {
    color: #4285F4;
}

.font-grey {
    color: #454245;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-lighter {
    font-weight: lighter;
}

.font-size-title-elements {
    font-size: 20px;
}

.font-size-title {
    font-size: 80px;
}

.font-size-sub-title {
    font-size: 27px;
}

.font-size-button {
    font-size: 20px;
}

.font-size-section-ivory {
    font-size: 25px;
}

.font-size-percent-section {
    font-size: 62px;
}

.font-size-subtitle-percent-section {
    font-size: 25px;
}

.font-big-numbers {
    font-size: 90px;
}

.font-big-subtitle {
    font-size: 20px;
}

.font-big-footer {
    font-size: 24px;
}

.font-size-welcome-title {
    font-size: 65px;
}

.font-social-media-words {
    font-size: 15px;
}

.font-social-media-bottom {
    font-size: 18px;
}

.text-transform-capitalize {
    text-transform: uppercase;
}

.text-decoration-none {
    text-decoration: none;
}

.list-style-none {
    list-style: none;
}

.list-style-none-medium {
    list-style: none;
}

/* Padding settings */

.padding-header-slack-logo {
    padding: 25px 25px 25px 25px;
}

.padding-header-slack-title {
    padding: 50px 0 100px 30px;
}

.padding-header-slack-subtitle {
    padding: 40px 300px 25px 30px;
}

.padding-try-for {
    padding: 15px;
}

.padding-box-buttons {
    padding: 0 25px 175px 30px;
    gap: 25px;
}

.padding-button-sign-email {
    padding: 25px;
}

.padding-button-sign-google {
    padding: 10px;
}

.padding-google-image {
    padding: 10px;
}

.padding-google-button {
    padding: 15px;
}

.padding-section-ivory {
    padding: 75px 20px 25px 20px;
}

.padding-big-numbers-section {
    padding: 100px 75px 50px 75px;
}

.padding-welcome-title {
    padding: 30px 25px 0 25px;
}

.padding-box-buttons-welcome {
    padding: 40px 110px 60px 110px;
    gap: 25px;
}

.padding-button-welcome {
    padding: 25px 75px 25px 75px;
}

.gap-welcome-button-small {
    gap: 25px;
}

.paddding-social-media-section {
    padding: 50px 50px 50px 50px;
}

.padding-social-media-logos {
    padding: 50px 0;
}

/* Margin Section */

.margin-bottom-welcome {
    margin-bottom: 20px;
}

.margin-teams-subtitle {
    margin-bottom: 25px;
}

.margin-teams-subtitle-big-number {
    margin-bottom: 80px;
}

.margin-bottom-big-number-title {
    margin-bottom: 35px;
}

.margin-teams-big-number {
    margin-bottom: 35px;
}

.margin-bottom-line {
    margin-bottom: 40px;
}

.margin-social-media-logos-right {
    gap: 80px;
}

.gap-logos-ivony {
    gap: 5px;
}

.position-absolute {
    position: absolute;
    left: 10px;
}

.position-absolute-small {
    position: absolute;
    top: 200px;
}

.position-relative {
    position: relative;
}

.position-relative-small {
    position: relative;
}

.display-flex {
    display: flex;
}

.display-flex-small-screen {
    display: flex;
}

.display-flex-small-medium {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row-mobile {
    flex-direction: row;
}

.flex-direction-row-medium {
    flex-direction: row;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.display-none-bottom-big {
    display: none;
}

.display-none-botton-menu {
    display: none;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: start;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.align-items-center {
    align-items: center;
}

.align-items-center-small-screen {
    align-items: center;
}

.align-items-small {
    align-items: start;
}

.align-content-space-evently {
    align-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.witdh-slack-logo {
    width: 200px;
    height: 50px;
}

.width-elements-slack-logo {
    gap: 60px;
}

.witdh-slack-glass-menu {
    width: 25px;
    height: auto;
    margin-left: 25px;
}

.width-first-section-box {
    width: 85vw;
}

.width-title-box-great {
    width: 65%;
    height: auto;
}

.width-google-button {
    width: auto;
}

.witdh-google-logo {
    width: 35px;
    height: auto;
}

.witdh-first-image-mobile {
    width: auto;
    height: 45%;
    object-fit: cover;
    object-position: top;
}

.width-first-image-container {
    width: 70vw;
    height: auto;
}

.witdh-logos {
    width: auto;
    height: 55px;
}

.witdh-little-icons {
    width: auto;
    height: 18px;
    margin-right: 10px;
}

.height-100-vh {
    height: 5vh;
}

.witdh-boxes-big-number {
    width: 230px;
    height: auto;
}

.witdh-box-big-numbers {
    width: 100%;
    height: auto;
}

.logos-section-height {
    height: 20vh;
}

.with-buttons-2 {
    width: 100%;
    height: auto;
}

.over-flow-hidden {
    overflow: hidden;
}